{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["react-hooks"],
  "rules": {
    "import/no-named-as-default": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "react/jsx-indent": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-wrap-multilines": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-empty-function": "off"
  },
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.spec.ts", "*.spec.tsx"],
      "plugins": ["jest"],
      "env": {
        "jest": true
      },
      "rules": {
        "import/no-extraneous-dependencies": [
          2,
          {
            "devDependencies": true
          }
        ]
      }
    },
    {
      "files": ["*.stories.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": [
          2,
          {
            "devDependencies": true
          }
        ]
      }
    }
  ]
}
